<div appScroll style="padding: 100px;height: 400px;text-align: center; overflow-y:auto;">

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
                <td>Lorem ipsum dolor sit.</td>
                <td>45h</td>
            </tr>
            <tr>
                <td>amet consectetur adipisicing</td>
                <td>45h</td>
            </tr>
            <tr>
                <td> elit. Maxime, velit!</td>
                <td>12h</td>
            </tr>
            <tr>
                <td>mollitia dicta minus eius</td>
                <td>23h</td>
            </tr>
            <tr>
                <td>perspiciatis omnis eveniet .</td>
                <td>89h</td>
            </tr>
            <tr>
                <td>eveniet obcaecati excepturi dolor i</td>
                <td>75h</td>
            </tr>
            <tr>
                <td>eveniet obcaecati excepturi dolor i</td>
                <td>75h</td>
            </tr>
            <tr>
                <td>eveniet obcaecati excepturi dolor i</td>
                <td>75h</td>
            </tr>
        </tbody>
    </table>
</div>